// Set a colors list as global constants


// DEFAULT
$black: #000;
$dark-grey: #323232;
$light-grey: #e9e9e9;
$light-grey-red: #9c9090;
$grey-red: #7c7373;
$white: #fff;
// $blue: #283593;
// $green: #43A047;
$red: #C62828;
// $yellow: #FDD835;
$dark-cyan: #0097A7;
$grey-cyan: #85a6aa;
$cyan: #00BCD4;
$blue-grey: #B0BEC5;


// BACKGROUND
$bg-black: $black;
$bg-dark-grey: $dark-grey;
$bg-light-grey: $light-grey;
$bg-light-grey-red: $light-grey-red;
$bg-grey-red: $grey-red;
$bg-white: $white;
// $bg-blue: $blue;
// $bg-green: $green;
$bg-red: $red;
// $bg-yellow: $yellow;
$bg-dark-cyan: $dark-cyan;
$bg-grey-cyan: $grey-cyan;
$bg-cyan: $cyan;
$bg-blue-grey: $blue-grey;

// BORDER
$border-black: $black;
$border-dark-grey: $dark-grey;
$border-light-grey: $light-grey;
$border-light-grey-red: $light-grey-red;
$border-grey-red: $grey-red;
$border-white: $white;
// $border-blue: $blue;
// $border-green: $green;
$border-red: $red;
// $border-yellow: $yellow;
$border-dark-cyan: $dark-cyan;
$border-grey-cyan: $grey-cyan;
$border-cyan: $cyan;
$border-blue-grey: $blue-grey;

// TEXT
$text-black: $black;
$text-dark-grey: $dark-grey;
$text-light-grey: $light-grey;
$text-light-grey-red: $light-grey-red;
$text-grey-red: $grey-red;
$text-white: $white;
// $text-blue: $blue;
// $text-green: $green;
$text-red: $red;
// $text-yellow: $yellow;
$text-dark-cyan: $dark-cyan;
$text-grey-cyan: $grey-cyan;
$text-cyan: $cyan;
$text-blue-grey: $blue-grey;
