// Application Common style


// stylelint-disable-next-line plugin/selector-bem-pattern
* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
  outline: none;
  padding: 0;
}


:root {
  font-size: 16px;
}
