.middleware-route {
  margin: 1rem;
  .middleware-route__button {
    border: 1px solid #323232;
    padding: 0.5rem;
  }

  .middleware-route__paragraph {
    margin-top: 0.5rem;
    border: 1px solid #323232;
    padding: 0.5rem;
  }
}