/** @define pure-js */

@import '../colors.scss';

.pure-js {
  margin: 1rem;
  .pure-js__button {
    border: 1px solid $dark-grey;
    padding: 0.5rem;
  }

  .pure-js__paragraph {
    margin-top: 0.5rem;
    border: 1px solid $dark-grey;
    padding: 0.5rem;
  }
}
