/** @define sagas */

@import '../colors.scss';

.sagas {
  margin: 1rem;
  .sagas__button {
    border: 1px solid $dark-grey;
    padding: 0.5rem;
  }

  .sagas__paragraph {
    margin-top: 0.5rem;
    border: 1px solid $dark-grey;
    padding: 0.5rem;
  }
}
