/** @define states */

@import '../colors.scss';


.states {
  width: 20rem;
  padding: 1rem;

  .states__button {
    background-color: $dark-grey;
    border: 2px $black solid;
    color: $white;
    font-weight: bold;
    padding: 0.5rem;
  }

  .states__value-box {
    margin-top: 1rem;
  }

  .states__text-input {
    background-color: $light-grey;
    color: $dark-grey;
    border-bottom: 1px $dark-grey solid;
    font-size: 0.8rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
  }

  .states__message-box {
    padding: 0.5rem;

    .states__message {
      font-size: 1.2rem;
    }

    &.states__message-box--color {
      &-1 {
        background-color: $red;
        color: $white;
      }
      &-2 {
        background-color: $green;
        color: $white;
      }
      &-3 {
        background-color: $blue;
        color: $white;
      }
      &-4 {
        background-color: $yellow;
        color: $black;
      }
    }
  }
}
