/** @define login-card */

@import '../colors.scss';

.login-card {
  background-color: $bg-light-grey;
  height: 100%;
  width: 100%;

  .login-card__button {
    align-items: center;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    flex-flow: column;
    height: 100%;
    justify-content: center;
    width: 100%;

    .login-card__box {
      padding: 0.5rem;

      .login-card__picture {
        align-items: center;
        background-color: $bg-white;
        border-radius: 4rem;
        display: flex;
        height: 8rem;
        justify-content: center;
        margin: 0 auto;
        overflow: hidden;
        width: 8rem;

        .login-card__picture-icon {
          width: 100%;
        }
      }

      .login-card__paragraph {
        color: $dark-grey;
        text-align: center;

        &--bold {
          font-size: 1.2rem;
          font-weight: bold;
        }

        &--semibold {
          font-size: 1rem;
          font-weight: bold;
        }

        &--light {
          font-size: 0.6rem;

        }

        &--normal {
          font-size: 0.7rem;
          font-weight: bold;
        }
      }
    }
  }
}
