// Style own of home route

@import '../colors.scss';

/** @define home */

// Style of pubblic section
.home {
  display: flex;
  height: 100vh;
  width: 100%;

  .home__nav {
    background-color: $light-grey;
    border-right: 0.125rem solid $dark-grey;
    height: 100%;
    width: 7.5rem;

    .home__list {
      width: 100%;

      .home__item {
        display: table;
        width: 100%;

        .home__anchor {
          display: table-cell;
        }
      }
    }
  }

  .home__route {
    flex: 1;

    .home__title {
      display: block;
      margin: 2rem auto;
      text-align: center;
    }
  }
}

// Style of logged section
.home__logged {
  padding: 3rem;

  .home__container {
    width: 100%;

    .home__button {
      background-color: $dark-grey;
      color: $light-grey;
      cursor: pointer;
      display: block;
      margin: 2rem auto;
      padding: 0.8rem 1.2rem;
    }
  }
}
