// Style own of login route


@import '../../../style/colors.scss';


/** @define login */

.login {
  background-color: $dark-grey;
  height: 100vh;
  display: block;
  width: 100vw;

  .login__dialog {
    background-color: $bg-blue-grey;
    border: 0.8rem solid $border-white;
    left: 50%;
    margin: 1rem auto;
    padding: 3rem;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 480px;
  }

  .login__title {
    display: none;
    font-size: 1.5rem;
  }

  .login__group {
    display: block;
    margin-bottom: 2rem;
    width: 100%;

    .login__field {
      display: block;
      margin-bottom: 2rem;
      width: 100%;

      .login__label {
        color: $text-dark-grey;
        display: block;
        font-size: 1rem;
        font-weight: bold;
        margin-bottom: 0.8rem;
      }
    }
  }

  .login__form {
    .login__text-input {
      color: $text-dark-grey;
      display: block;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
    }

    .login__select-input {
      color: $text-dark-grey;
      display: block;
      font-size: 1rem;
      padding: 0.5rem;
      width: 100%;
    }

    .login__button {
      background-color: $bg-dark-cyan;
      color: $text-white;
      display: block;
      font-size: 1rem;
      margin: 0 auto;
      padding: 0.5rem 2rem;

      &:disabled {
        background-color: $bg-grey-cyan;
      }

      &:enabled {
        cursor: pointer;

        &:hover {
          background-color: $bg-cyan;
        }
      }
    }
  }

  .login__error {
    left: 50%;
    position: absolute;
    top: 0;
    transform: translateX(-50%);

    .login__error-alert {
      background-color: $bg-red;
      margin-top: 1rem;
      padding: 1rem;

      .login__error-message {
        color: $text-white;
        font-size: 0.8rem;
        font-weight: bold;
      }
    }
  }
}
