/** @define gallery */

@import '../colors.scss';

.gallery {
  align-content: center;
  display: flex;
  justify-content: center;
  width: 100%;

  .gallery__box-arrow {
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 3rem;

    // &--prev {

    // }

    // &--next {

    // }

    .gallery__button {
      background-color: $bg-white;
      cursor: pointer;
      flex: none;
      height: 3rem;
      width: 3rem;

      .gallery__button-icon {
        width: 100%;
      }
    }
  }

  .gallery__box-slides {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: calc(100% - (3rem * 2));

    .gallery__slides-tape {
      align-items: center;
      display: flex;
      justify-content: space-between;
      position: absolute;
      top: 0;

      .gallery__item-slide {
        flex: none;
      }
    }
  }
}
